html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading-large {
    font-size: 2.5rem;
    font-weight: lighter;
    text-transform: uppercase;
}

.heading-medium {
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;
}